ip tunnel add vti01 local 192.168.0.10 remote 192.168.0.11 mode vti key 5
ip link set vti01 up

systemctl enable ipsec --now

cat > /etc/ipsec.d/VTI-test.conf <<EOF
conn routed-vpn
    left=192.168.0.10
    leftid=192.168.0.10
    right=192.168.0.11
    rightid=192.168.0.11    
    authby=secret
    leftsubnet=0.0.0.0/0
    rightsubnet=0.0.0.0/0
    auto=start
    # route-based VPN requires marking and an interface
    mark=5/0xffffffff
    vti-interface=vti01
    # do not setup routing because we don't want to send 0.0.0.0/0 over the tunnel
    vti-routing=no
EOF

cat > /etc/ipsec.d/ipsec.secrets <<EOF
192.168.0.10 : PSK "v4EsJk8AbooasyrpXQHs"
192.168.0.11 : PSK "v4EsJk8AbooasyrpXQHs"
EOF

systemctl restart ipsec